#messageBox{
    width: 100%;
    height: 20em;
    max-width: 100%;
    max-height: 150%;
    

}

.mainContent{
    /* width:50em;
    height:10em; */
    /* margin: 5em; */
    /* margin: auto; */
}

.body-content{
width: 50%;
margin: auto;
}

.lower-body-content{
    width: 90%;
    margin: auto;
    }

.headliner{
    width: 50%;
    margin: auto;
}

/* .intro{
    width:50em;
    height:10em;
}

.shown-body{
    width:50em;
    height:10em;
} */

.blacked-out{
    background: black;
    /* display: inline-block; */
   /* background-size: 80%; */


/* looks neat */
   /* color: rgb(243, 42, 42);
   background-color: black; */

  
}


#text-displayer{
    font-size: 3em;
    font-family: 'OCR A Std', Courier, monospace;
    /* width: 50%;
    margin: auto; */

    
    

}

.text-element{
    margin: 1px;
    margin-top:5px;
}

h2{
    font-size: 5em;
    font-family: 'OCR A Std', Courier, monospace;
    margin: 0px;
    color: white;
    background: black;
    text-align: center;
}

h3{
    font-size: 1em;

    font-family: 'OCR A Std', Courier, monospace;

}

.hide-it{
    display: none;
}

#buttonID{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.footer{
    width: 90%;
    /* height: 20px; */
    margin: auto;

}